<%= @context_data[:role_description] %>

<%= @context_data[:instruction] %>

<% if @context_data[:instruction_context].present? -%>
<% @context_data[:instruction_context][:object_attributes].each do |attribute_name, attribute_value| -%>
The available options from "<%= attribute_value[:label] %>" are defined inside the XML format:
<<%= attribute_name %>>
<% attribute_value[:items].each do |option| -%>
  <option>
    <value><%= option[:value] %></value>
    <label><%= option[:label] %></label>
<% if option[:description].present? -%>
    <description><%= option[:description] %></description>
<% end -%>
  </option>
<% end -%>
</<%= attribute_name %>>
<% end -%>
<% end -%>

<% if json_response? -%>
Reply in the defined plain JSON structure only and do not wrap it in code block markers:

<%= JSON.pretty_generate(@context_data[:result_structure]) %>
<% end -%>
